streamlit
pandas
numpy
plotly-express
requests
pytrends
yfinance
google-cloud-bigquery
pandas-gbq
openpyxl
newspaper3k
lxml[html_clean]
transformers
torch
sentencepiece
statsmodels
prophet
feedparser
captum
logging
