--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pandas
numpy
plotly
plotly-express
requests
yfinance
google-auth
google-cloud-bigquery
pandas-gbq
newspaper3k
statsmodels
prophet
feedparser
lxml[html_clean]
google-cloud-bigquery-storage
torch
transformers
sentencepiece
